/* CSS Document */




/* BODY */
body {
	background-color: #D3C4A9;
	background-image: url(../../../images/deco/background.gif);
}
/* TOP MENU */
#rt-top-surround {
	background-color: #255474;
	background-image: none;
	border: none;
	height: 72px;
}
div.rt-block.menu-block .gf-menu .item {
	font-size: 21px;
	background: none;
	box-shadow: none;
	outline-color: #069;
	border: #069;
	text-shadow: none;
	line-height: 24px;
}
div.rt-block.menu-block .gf-menu li:hover, .gf-menu li.active:hover {
	background: #069;
	box-shadow: none;
	outline-color: #069;
	border-color: #069;
	text-shadow: #069;
	line-height: 24px;
	;
}
.gf-menu.l1 > li.active {
	background: #069;
	box-shadow: none;
	outline-color: #069;
	border-color: #06C;
	border-bottom: none;
}
.gf-menu.l1 > li:hover > .item .border-fixer {
	background: none;
}
/*dropdown */

div.rt-block.menu-block .gf-menu .dropdown {
	font-size: 18px;
	background: none repeat scroll 0 0 #069;
	box-shadow: none;
	border: none;
}
/* drop down highlight */
 
.gf-menu .dropdown ul li:active > .item {
	background: none repeat scroll 0 0 #255474;
	box-shadow: none;
	border: none;
}
.gf-menu .dropdown ul li:hover > .item {
	background: none repeat scroll 0 0 #255474;
	box-shadow: none;
	border: none;
}
/* LOGO */

#rt-top-surround {
	position: relative;
	z-index: 10;
	padding-top: 5px;
}
div.rt-block._logo_sm {
	position: absolute;
	z-index: 60;
	top: -90px;
	padding: none;
}
/* SOCIAL - TOP */
div.rt-block.social_top {
	width: 45px;
	height: 45px;
	padding: 0px;
	float: left;
}
/* Search */
div.rt-block._search {
	padding: 0px 0px;
}
#rt-drawer {
	display: none;
}
input.search-query {
	max-width: 30%;
	float: right;
}
/* Searsch result */

.search	{background-color: #7E94AB;	padding: 20px; color:white;}

/* SlIDESHOW */

div.rt-block._slideshow {
	position: relative;
	z-index: 0;
	top: -25px;
	padding-bottom: 0px;
}
div.rt-block._slideshow .sprocket-features-desc {
	background: none repeat scroll 0 0 rgba(247, 147, 30, 0.5);
	margin: 63% 0 0 50%;
	min-width: 400px;
	text-align: center;
}
div.rt-block._slideshow .sprocket-features-desc .readon {
	display: none;
}
div.rt-block._slideshow .sprocket-features-desc .button, .readon, .readmore {
	background-color: #194056;
	background-image: none;
	background-repeat: repeat-x;
	border-color: transparent;
	float: right;
}
div.rt-block._slideshow .sprocket-features-desc .button:hover, .readon:hover, .readmore:hover {
	background-color: #255474;
	background-image: none;
	background-repeat: repeat-x;
	border-color: transparent;
	float: right;
}
div#rt-feature .rt-container {
	padding: 0px;
}
/* CHAMADAS - SPROCK ROCLEK MOSAIC */
div.rt-block._chamadas {
	padding: 5px;
	margin-top: 5px;
}
div.rt-block._chamadas .sprocket-mosaic-item {
	max-height: 215px;
	border: none;
}
div.rt-block._chamadas .sprocket-padding {
	max-height: 195px;
}
div.rt-block._chamadas .sprocket-mosaic-head {
	position: relative;
	z-index: 50;
	top: -55px;
	left: 12px;
}
div.rt-block._chamadas .sprocket-mosaic-text {
	display: none;
}
._chamadas .sprocket-readmore, .sprocket-mosaic-hovercontent {
	display: none;
} /* Esconder leia mais */
/* BREAD CRUMB  */
#rt-breadcrumbs .rt-block {
	padding: 0px; /*top:-44px;*/
}
/* Contato */
#contact-form, .form-actions {
	background-color: #7E94AB;
	padding: 20px;
}
#contact-form, legend {
	color: #FFF;
	border: none;
}
#jform_contact_name, #jform_contact_email, #jform_contact_emailmsg, #jform_contact_message {
	min-width: 50%;
}
/* FOOTER */
#rt-footer {
	background-color: #194056;
	padding-bottom: 20px;
}
#rt-copyright {
	background-color: #F7931E;
}
#rt-footer a {
	color: #7E94AB;
	text-decoration: underline;
}
#rt-footer a:hover {
	color: #F7931E;
	text-decoration: none;
}
 #rt-footer .module-title, {
border:none;
box-shadow:none;
}
#rt-footer .title, .component-content h2 {
	border: none;
	box-shadow: none;
	padding: 0px;
}
#rt-footer .title {
	color: #E6E6E6;
	text-shadow: none;
	font-size: 24px;
	border: none;
}
#rt-footer .module-content ul {
	float: left;
}
#rt-footer .module-content ul li {
	color: #E6E6E6;
}
/* Parceiros */
div.rt-block._parceiros_footer {
	min-width: 100%;
}
div.rt-block._parceiros_footer .banneritem {
	width: 120px;
	float: left;
	padding-bottom: 30px;
}
div.rt-block._parceiros_footer .module-title h2 {
	border: none;
	box-shadow: none;
	text-shadow: none;
	font-size: 24px;
	border: none;
}
/* GENERAL STYLES */
.sprocket-mosaic-title h2 {
	color: black;
	
}

/* Sprock rocket mosaic */
.sprocket-mosaic-head { font-size: 12px;}


.sprocket-mosaic-text {min-height:100px;}

/*Artigos*/
.artigo p {
	font-size: 18px;
}
.rt-container .item-page {
	padding: 20px;
	background-color: #E6E6E6;
	display: block;
	overflow: auto;
}
.artigo {
	min-height: 300px;
}
.rt-container {
	padding: 0px;
}
/* Artigos */

.item-page_page_article {
	background-color: #E6E6E6;
	padding: 20px;
	display: block;
	overflow: auto;
}
div.rt-block._acasa_mosaic .sprocket-padding {
	background-color: #E6E6E6;
	padding: 20px;
	display: block;
	overflow: auto;
}
